<ng-template #content let-modal>
        
  <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <span style="justify-content: flex-end;display: flex;position: relative;right: 1%;top:3.5px;cursor:pointer;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </span>
    <div class="modal-body">
        <app-candidates-listing-start [parameters]="rowData"></app-candidates-listing-start>

    </div>
  </ng-template>

<span style="color:blue;cursor: pointer;" (click)="onReviewJobCandidates(content,params)">Review jobs/candidates</span>