<div class="section" style="margin-top:1.4%">
    <div class="example-wrapper" style="height:790px;position:relative;left:2.5%">
      <ag-grid-angular
        #agGrid
        style="width: 95%; height: 56.2%;"
        id="myGrid"
        class="ag-theme-alpine"
        [gridOptions]="gridOptions"
        [columnDefs]="columnDefs"        
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"              
        [pagination]="true"        
        [tooltipShowDelay]="tooltipShowDelay"
        [overlayNoRowsTemplate]="noRowsTemplate"
        [paginationPageSize]="paginationPageSize"                
        [paginationNumberFormatter]="paginationNumberFormatter"
        [rowData]="jobLists"
        (rowSelected)="onRowSelect($event)"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div> 
  </div>
  <!-- [rowSelection]="rowSelection"
  [enableRangeSelection]="true" -->
  <div class="footer" style="min-height: 70px;">
  <div class="row" style="background-color: rgb(18,31,102); height:70px;">    
    <div class="col-md-10">
    <div class="example-header" style ="position: absolute;margin-left:2.9%;top:21px;">
    <span style='color:white;font-weight:bold'>Show</span>&nbsp;  
      <select (change)="onPageSizeChanged()" id="page-size">
        <option value="10" selected="">10</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>&nbsp;
      <span style='color:white;font-weight:bold'>entries</span>  
    </div>
    </div>
     <!-- <div class='col-md-2' style="position:relative;top:7px;">
    <button class="btn" style="background-color: white; width:70%" (click)="SweetAlert()">Submit</button>
  </div> -->
  </div>
</div>

<div class="loading-container" style="width: 100%; display: none; height: 100%; overflow: auto; padding: 5px 15%;"
id="loadingContainer">
<div class="loader"></div>
</div>

<ng-template #content let-modal>
        
  <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->

    <span style="justify-content: flex-end;display: flex;position: relative;right: 1%;top:3.5px;cursor:pointer;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </span>
  <!-- <div class="modal-content" style="min-height:570px;border:2px solid #313D77;width:90%;margin-left:4.9%;margin-bottom:1.7%;"> -->
    <div style="border:2px solid #313D77;border-radius: 10px;width: 95%;margin-left: 2.3%;margin-bottom:1.7%;min-height:540px">
    <div class="modal-body" style="margin-top:0.5%;margin-bottom:1%">
      <h1 style="color:#313D77;text-align: center;">Job Description</h1>
      <div style="margin-left:3%" [innerHtml]="currentCellJobDescription"></div>
    </div>
  </div>
  <!-- </div> -->
  </ng-template>