// .modal-dialog {
//     max-width: 1300px!important;
// }

:host-context(.modal-open) .modal-dialog .modal-md{
    max-width: 1300px!important;
}

.wrap {
    white-space: nowrap; 
    width: auto;   
    overflow: hidden;
    text-overflow: ellipsis;
  }

// .col-md-3{
//     flex: 0 0 30%;
// }

.flex-container {
    display: flex;
    //flex-wrap: nowrap;
    //background-color: DodgerBlue;
  }

:host ::ng-deep .ck-editor__editable_inline {
    max-height: 323px;
    min-height: 323px;
}

:host ::ng-deep .ck-button.ck.ck-off:nth-child(5){
    display:none;
}

:host ::ng-deep div.ck:nth-child(15){
    display: none;
}

:host ::ng-deep .ck-file-dialog-button{
    display: none;
}

// :host ::ng-deep div.ck:nth-child(15){
//     display: none;
// }

:host ::ng-deep button.ck:nth-child(9){
    display: none;
}

:host ::ng-deep button.ck:nth-child(10){
    display: none;
}

:host ::ng-deep span.ck.ck-toolbar__separator:nth-child(11){
    display: none;
}

:host ::ng-deep button.ck:nth-child(13){
    display:none;
}

:host ::ng-deep div.ck:nth-child(14){
    display:none;
}

.modal-content{
    position: absolute!important;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.disableButton{
    opacity: 0.35; 
    background: #eee;
    color: #444;
}

// .modal-content{
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     pointer-events: auto;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid rgba(0,0,0,.2);
//     border-radius: .3rem;
//     outline: 0;
//     min-height: 600px;
// }